.project-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.project-col {
    display: flex;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

@media only screen and (min-width: 1224px) {
    .project-sec {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.project-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.project-col h3 {
    font-family: 'Raleway', sans-serif;
}

.project-col h5 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}



.contenty {
    position: relative;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    margin: 1rem;
}

.contenty-img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    border-radius: 20%;

}

.pop_effect:hover {
    transform: scale(1.1);
}